@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;0,800;1,400&display=swap');


body {
  font-family: 'JetBrains Mono', monospace;
}

.body-main-container {
  width: 100%;
  overflow-x: hidden;
}

/*** Works on common browsers ***/
::selection {
  background-color: $light;
  color: $primary;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: $light;
  color: $primary;
}

.underlined {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}


.font-weight-bold-custom { // changing font related variable seems to make _custom-variables not working at all 
  font-weight: 800;
  font-synthesis: none;
}


.form-control, .btn-outline-light {
  color: inherit !important;
  background-color: inherit;
  border-color: inherit;
  
  &:hover {
    background-color: inherit ! important;
    opacity: 0.8;
  }
  
  &:focus, &:active {
    border-color: inherit;
    background-color: inherit ! important;
    opacity: 0.65;
    box-shadow: 0 0 0 0rem !important;

    &:focus, &:active {
      opacity: 0.65;
    }

    
  }

 }
 
 .btn-outline-light {

  &:focus, &:active, &:hover  {
    border-color: initial !important;
    box-shadow: 0 0 0 0.1rem inherit !important; 
  }
  
 }











  
// media queries  

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.3rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.4rem;
  }

  .body-main-container {
    width: 55%;
  }
}








